# This workflow will build a Java project with Ant
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-ant

name: Java CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Install Ivy
      run: |
        sudo apt-get install -y unzip
        curl -LJO https://apache.osuosl.org//ant/ivy/2.5.0/apache-ivy-2.5.0-bin.zip
        unzip ./apache-ivy-2.5.0-bin.zip
        mv ./apache-ivy-2.5.0/ivy-2.5.0.jar /usr/share/ant/lib
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml
    - name: WhiteSource Prioritize Scan
      env:
        WS_APIKEY: ${{secrets.APIKEY}}
      run: |
        curl -LJO https://github.com/whitesource/unified-agent-distribution/releases/latest/download/wss-unified-agent.jar
        echo UA downloaded successfully
        WARFILE=$(find ./ -type f -wholename "*.war")
        export WS_ENABLEIMPACTANALYSIS=true
        export WS_REQUIREKNOWNSHA1=false
        export WS_RESOLVEALLDEPENDENCIES=false
        java -jar wss-unified-agent.jar -appPath $WARFILE -d ./ -product GH_${{ github.event.repository.name }} -project ${{ github.ref }}_Prioritize -iaLanguage Java
