# This workflow will build a Java project with Ant
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-ant

name: WS-SCAN-UA-only

on:
  push:
    branches: [ UA-only ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Install Ivy
      run: |
        sudo apt-get install -y unzip
        curl -LJO https://apache.osuosl.org//ant/ivy/2.5.0/apache-ivy-2.5.0-bin.zip
        unzip ./apache-ivy-2.5.0-bin.zip
        mv ./apache-ivy-2.5.0/ivy-2.5.0.jar /usr/share/ant/lib
    - name: Build with Ant & Ivy
      run: ant -noinput -buildfile build.xml
    - name: WhiteSource  Scan
      env:
        WS_APIKEY: ${{secrets.APIKEY}}
        WS_USERKEY: ${{secrets.USERKEY}}
      run: |
        curl -LJO https://github.com/whitesource/unified-agent-distribution/releases/latest/download/wss-unified-agent.jar
        echo UA downloaded successfully
        export WS_ANT_IVY_RESOLVEDEPENDENCIES=true
        export WS_FILESYSTEMSCAN=false
        java -jar wss-unified-agent.jar -d ./ -product GH_${{ github.event.repository.name }} -project ${{ github.ref }}
